samples/*
__pycache__/*
*/**/__pycache__/*
**/__pycache__/*
/.pytest_cache
**/__pycache__/*
__pycache__/
*.py[cod]
*$py.class
*/.pytest
**/__pycache__/
cache/**
image_dir/*
conceptKB_ckpt/*
tensor_dir/*
*/image-backend-mock/*
image-backend/feature_cache/*
