samples/*
__pycache__/*
*/**/__pycache__/*
**/__pycache__/*
/.pytest_cache
__pycache__/*
*.py[cod]
*$py.class
*/.pytest
**/__pycache__/
feature_cache/*
cache/**
image_dir/*
conceptKB_ckpt/*
tensor_dir/*
*/image-backend-mock/*
image-backend/feature_cache/*
.env
*/.env
lock_dir/*
json_dir/*